.drawer {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}

.tabs {
  border-bottom: 1px solid black;
  display: flex;
  height: 5vh;
}

.tabs > * {
  cursor: pointer;
  padding: 0 10px;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
}

.tabs > *:hover {
  text-decoration: underline;
}

.tabs > *.active {
  background-color: #6688dd;
  color: white;
}

.tabContent {
  position: relative;
}

circle {
  pointer-events: none;
}

svg {
  cursor: none;
}

.pappus {
  cursor: default;
}

@media (orientation:portrait){
  svg {
    width:100vw;
    height:100vw;
  }
}
@media (orientation:landscape){
  svg {
    width:95vh;
    height:95vh;
  }
} 
